@model IEnumerable<BLL.App.DTO.TrainingDay>

@{
    ViewData["Title"] = "Index";
}

<h1>Training days in week</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewContext.RouteData.Values["id"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingDayType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingWeek.WeekNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingDayType.Name)
            </td>
            <td>
                <a asp-area="Admin" asp-controller="ExerciseSets" asp-action="Index" asp-route-id="@item.Id">View</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
