@using Extensions
@model WebApplication.Areas.Admin.ViewModels.TrainingDayViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="jumbotron">
    <h1 class="text-uppercase">@Model.TrainingDay.DayOfWeek</h1>
    <h3 class="text-uppercase text-secondary">@Model.TrainingDay.TrainingDayType?.Name</h3>
    <a asp-area="Admin" asp-controller="TrainingWeeks" asp-action="Index" asp-route-id="@Model.WorkoutRoutineId">BACK</a> | 
    <a asp-action="Edit" asp-route-id="@Model.TrainingDay.Id">EDIT</a>
    <hr/>
    <h3 class="text-left">
        Exercises
    </h3>
        <partial name="_ExerciseCreateEditPartial" model="@Model.TrainingDay"/>
    <hr/>
    <div class="row d-flex justify-content-center">
    @if (Model.TrainingDay.MainLifts.IsEmptyOrNull())
    {
        <p class="text-secondary">No exercises added yet!</p>
    }
    else
    {
        @foreach (var exercise in @Model.TrainingDay.MainLifts)
        {
            <div class="border-bottom p-2 col-sm-12 col-md-8 col-lg-7">
            <h5>
                @exercise.Exercise?.Name 
                <i class="fa fa-question-circle" aria-hidden="true" title="@exercise.Exercise?.Description"></i>
            </h5>
                <div class="row justify-content-center">
                    @if (exercise.WorkSets == null || !exercise.WorkSets.Any())
                    {
                        <p class="text-secondary">No sets added yet!</p>
                    }
@*                     else *@
@*                     { *@
@*                         <p> *@
@*                         @foreach (var set in exercise.ExerciseSets.OrderBy(set => set.SetNumber)) *@
@*                         { *@
@*                             <span>- @set. x @set.Weight%</span><br/> *@
@*                         } *@
@*                         </p> *@
@*                     } *@
@*                     <partial name="_ExerciseSetCreateEditPartial" model="exercise"/> *@
                </div>
            </div>
        }
    }
    </div>
</div>
