@model IEnumerable<Domain.DailyNutritionIntake>

@{
    ViewData["Title"] = "Daily nutrition intake";
}

<h1>@Resources.Views.DailyNutritionIntakes.Index.Title</h1>

<p>
    <a asp-action="Create">@Resources.Views.DailyNutritionIntakes.Index.CreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoggedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carbohydrates)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.UnitType)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoggedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Protein)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carbohydrates)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitType.Name)
        </td>

        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.DailyNutritionIntakes.Index.Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.DailyNutritionIntakes.Index.Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Views.DailyNutritionIntakes.Index.Remove</a>
        </td>
    </tr>
}
    </tbody>
</table>
