@model IEnumerable<Domain.BodyMeasurement>

@{
    ViewData["Title"] = @Resources.Views.BodyMeasurements.Index.Title;
}

<h1>@Resources.Views.BodyMeasurements.Index.BodyMeasurement;</h1>

<p>
    <a asp-action="Create">@Resources.Views.BodyMeasurements.Index.CreateNew</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Waist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BodyFatPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitType)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Waist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BodyFatPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitType.Name)
        </td>

        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.BodyMeasurements.Index.Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.BodyMeasurements.Index.Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Views.BodyMeasurements.Index.Remove</a>
        </td>
    </tr>
}
    </tbody>
</table>
