@using Resources.Views.TrainingWeeks
@model WebApplication.Areas.Admin.ViewModels.TrainingWeekCreateViewModel

<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="WorkoutRoutineId" value="@Model.WorkoutRoutineId"/>
    <div class="row">
        <div class="form-group mx-2">
            <input type="submit" class="btn btn-outline-success text-uppercase"
                   title="@_CreateWeekPartial.AddHoverText"
                   value="@_CreateWeekPartial.AddNew">
        </div>
        <div class="form-check my-2">
            <input class="form-check-input" asp-for="@Model.IsDeload">
            <label class="form-check-label text-secondary"
                   title="@_CreateWeekPartial.DeloadHoverText" asp-for="@Model.IsDeload">
                @_CreateWeekPartial.IsDeload
            </label>
        </div>
    </div>
</form>