@using Resources.Views.TrainingWeeks
@model WebApplication.Areas.Admin.ViewModels.TrainingWeekViewModel

<a data-toggle="modal" title="@_DeleteDayPartial.Delete" data-target="#modal-delete-id-@Model.TrainingWeek.Id" asp-action="Delete" asp-route-id="@Model.TrainingWeek.Id">
    <i class="fas fa-trash delete text-danger ml-1"></i>
</a>

<div class="modal fade" title="Delete" id="modal-delete-id-@Model.TrainingWeek.Id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center text-danger" id="deleteModalLabel">
                    @_DeleteWeekPartial.DeleteConfirm
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@_DeleteWeekPartial.WeekNumber: @Model.TrainingWeek.WeekNumber</p>
                <p>@_DeleteWeekPartial.TrainingDays: @Model.TrainingWeek.TrainingDays?.Count()</p>
                <p>
                    @_DeleteWeekPartial.IsDeload:
                    @if (Model.TrainingWeek.IsDeload)
                    {
                        <span>@_DeleteWeekPartial.Yes</span>
                    }
                    else
                    {
                        <span>@_DeleteWeekPartial.No</span>
                    }
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    @_DeleteWeekPartial.Close
                </button>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="@Model.TrainingWeek.Id"/>
                    <input type="hidden" asp-for="@Model.WorkoutRoutineId"/>
                    <button type="submit" class="btn btn-danger">
                        @_DeleteWeekPartial.Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>