@using WebApplication.Areas.Admin.ViewModels
@using BLL.App.DTO
@model IEnumerable<BLL.App.DTO.TrainingWeek>

@{
    ViewData["Title"] = "Training weeks";
}

<h1>Training weeks</h1>

<p>
    <partial name="_CreateNewPartial" model="@GetCreateViewModel()"/>
    <a asp-area="Admin" asp-controller="WorkoutRoutines" asp-action="Index">Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeekNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeload)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WeekNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeload)
            </td>
            <td>
                <a asp-area="Admin" asp-controller="TrainingDays" asp-action="Index" asp-route-id="@item.Id">View</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@functions
{
    public TrainingWeekViewModel GetCreateViewModel()
    {
        return new TrainingWeekViewModel()
        {
            WorkoutRoutineId = new Guid(ViewContext.RouteData.Values["id"].ToString()!)
        };
    }
}
