@model IEnumerable<WebApplication.Areas.Admin.ViewModels.AppUsersViewModel>

<div class="jumbotron shadow rounded">
    <h1 class="text-uppercase">AppUsers</h1>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLocked)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLocked)
                </td>
                <td>
                    <a asp-action="ManageUser" asp-route-userName="@item.UserName">Manage</a> |
                    <a asp-action="Details" asp-route-userName="@item.UserName">Details</a> |
                    <a asp-action="LockUser" asp-route-userName="@item.UserName">Lock user</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>