@model WebApplication.Areas.Admin.ViewModels.ExerciseInTrainingDayCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<input type="hidden" asp-for="ExerciseInTrainingDay.TrainingDayId"/>
<div class="form-group">
    <label asp-for="@Model.ExerciseInTrainingDay.ExerciseType" class="control-label"></label>
    <select asp-for="@Model.ExerciseInTrainingDay.ExerciseTypeId" class="form-control" asp-items="Model.ExerciseTypes">
        <option value=""> ---------------- SELECT TYPE ----------------- </option>
    </select>
    <span asp-validation-for="@Model.ExerciseInTrainingDay.ExerciseType" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.ExerciseInTrainingDay.Exercise" class="control-label"></label>
    <select asp-for="@Model.ExerciseInTrainingDay.ExerciseId" class="form-control" asp-items="Model.Exercises">
        <option value=""> ---------------- SELECT EXERCISE ----------------- </option>
    </select>
    <span asp-validation-for="@Model.ExerciseInTrainingDay.ExerciseId" class="text-danger"></span>
</div>
<hr/>
<input type="submit" class="btn btn-success" value="ADD"/>
