@model IEnumerable<BLL.App.DTO.Muscle>

@{
    ViewData["Title"] = "Muscles";
}

<h1>@Resources.Views.Muscle.Index.Muscle</h1>

<p>
    <a asp-action="Create">@Resources.Views.Muscle.Index.CreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MuscleGroup)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.MuscleGroup!.Name)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.Muscle.Index.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Muscle.Index.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Views.Muscle.Index.Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
