@using Resources.Views.WorkoutRoutine
@model WorkoutRoutineCreateEditViewModel


<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="WorkoutRoutine.RoutineType" class="control-label"></label>
    <select asp-for="WorkoutRoutine.RoutineTypeId" class="form-control" asp-items="@Model.RoutineTypeSelectList">
        <option value=""> @_CreateEditPartial.selectType </option>
    </select>
    <span asp-validation-for="WorkoutRoutine.RoutineTypeId" class="text-danger"></span>
</div>
<h3>@_CreateEditPartial.EnglishTranslation</h3>
<div class="form-group">
    <label asp-for="WorkoutRoutine.Name" class="control-label"></label>
    <input asp-for="EnglishTranslation.Name" class="form-control"/>
    <span asp-validation-for="WorkoutRoutine.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="WorkoutRoutine.Description" class="control-label"></label>
    <textarea asp-for="EnglishTranslation.Description" class="form-control"></textarea>
    <span asp-validation-for="WorkoutRoutine.Description" class="text-danger"></span>
</div>
<h3>@_CreateEditPartial.EstonianTranslation</h3>
<div class="form-group">
    <label asp-for="WorkoutRoutine.Name" class="control-label"></label>
    <input asp-for="EstonianTranslation.Name" class="form-control"/>
    <span asp-validation-for="WorkoutRoutine.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="WorkoutRoutine.Description" class="control-label"></label>
    <textarea asp-for="EstonianTranslation.Description" class="form-control"></textarea>
    <span asp-validation-for="WorkoutRoutine.Description" class="text-danger"></span>
    <input type="hidden" asp-for="EstonianTranslation.CultureCode"/>
    <input type="hidden" asp-for="EnglishTranslation.CultureCode"/>
    <input type="hidden" asp-for="@Model.WorkoutRoutine.Name"/>
    <input type="hidden" asp-for="@Model.WorkoutRoutine.Description"/>
</div>
<div class="form-group">
    <input type="submit" value="@_CreateEditPartial.submit"
           title="Create a new routine with selected name and type" class="btn btn-success text-uppercase"/>
</div>