@using WebApplication.Areas.Admin.ViewModels
@model WebApplication.Areas.Admin.ViewModels.WorkoutRoutineViewModel

@{
    ViewData["Title"] = "Base routines";
}

<div class="jumbotron shadow rounded">
    <p class="display-4 text-uppercase">@Resources.Views.WorkoutRoutine.Index.Title</p>
    <div>
        <p class="text-secondary">
            @Resources.Views.WorkoutRoutine.Index.SubTitle
        </p>
    </div>
</div>
<hr/>
<div>
    <h3 class="text-left mt-1 mx-1 text-uppercase">
        @Resources.Views.WorkoutRoutine.Index.Unpublished
    </h3>
    <p class="text-muted text-left">
        @Resources.Views.WorkoutRoutine.Index.UnpublishedSubtext
    </p>
    <div class="row text-left mx-1">
    <a asp-action="Create">
            <i class="far fa-plus-square text-success add-new-main" data-toggle="tooltip" title="Add new"></i>
        <span class="mx-1 text-success" title="Create a brand new routine template">
            @Resources.Views.WorkoutRoutine.Index.AddNew
        </span>
    </a>
</div>
</div>
<hr/>
<div class="row d-flex justify-content-center">
    @if (! Model.UnPublishedRoutines.Any())
    {
        <p class="text-secondary">@Resources.Views.WorkoutRoutine.Index.NoUnPublishedRoutines</p>
    }
    else
    {
        @foreach (var item in Model.UnPublishedRoutines)
        {
            <div class="card shadow rounded mb-3 mx-1 col-sm-12 col-md-8 col-xl-5">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <div class="view-edit-delete">
                        <a asp-controller="TrainingWeeks" asp-action="Index" data-toggle="tooltip" title="View" asp-route-id="@item.Id"><i class="fa fa-eye view" aria-hidden="true"></i></a> |
                        <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil edit text-success" aria-hidden="true"></i></a> | 
                        <partial name="_DeletePartial" model="@item"/>
                    </div>
                </div>
                <div class="card-footer">
                    <partial name="_PublishPartial" model="GetPublishViewModel(@item.Id)"/>
                </div>
            </div>
        }
    }
</div>
<hr/>
<div>
    <h3 class="text-left text-uppercase my-1 mx-1">@Resources.Views.WorkoutRoutine.Index.Published</h3>
    <p class="text-muted text-left">@Resources.Views.WorkoutRoutine.Index.PublishedSubText</p>
</div>
<hr/>
<div class="row d-flex justify-content-center">
    @if (!Model.PublishedRoutines.Any())
    {
        <p class="text-secondary">@Resources.Views.WorkoutRoutine.Index.NoPublishedRoutines</p>
    }
    else
    {
        @foreach (var item in Model.PublishedRoutines)
        {
            <div class="card shadow rounded mb-3 mx-1 col-sm-12 col-md-8 col-xl-5">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <div class="view-edit-delete">
                        <a asp-controller="TrainingWeeks" asp-action="Index" data-toggle="tooltip" title="View" asp-route-id="@item.Id"><i class="fa fa-eye view" aria-hidden="true"></i></a> |
                        <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil edit text-success" aria-hidden="true"></i></a> | 
                        <partial name="_DeletePartial" model="@item"/>
                    </div>
                </div>
                <div class="card-footer">
                    <partial name="_UnPublishPartial" model="GetPublishViewModel(@item.Id)"/>
                </div>
            </div>
        }
    }
</div>
<hr/>

@functions
{
    public WorkoutRoutinePublishViewModel GetPublishViewModel(Guid id)
    {
        return new WorkoutRoutinePublishViewModel()
        {
            WorkoutRoutineId = id
        };
    }
}
