@model BLL.App.DTO.TrainingCycle

<h4>TrainingCycle</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.WorkoutRoutineId)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.WorkoutRoutineId)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CycleNumber)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CycleNumber)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.StartingDate)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.StartingDate)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.EndingDate)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.EndingDate)
    </dd>
</dl>