@model WebApplication.Areas.Admin.ViewModels.ExerciseSetCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<input type="hidden" asp-for="ExerciseSet.TrainingDayId"/>
<input type="hidden" asp-for="ExerciseSet.WorkoutRoutineId"/>
<div class="form-group">
    <label asp-for="@Model.ExerciseSet.SetType" class="control-label"></label>
    <select asp-for="@Model.ExerciseSet.SetTypeId" class="form-control" asp-items="Model.SetTypes"></select>
    <span asp-validation-for="@Model.ExerciseSet.SetTypeId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.ExerciseSet.Exercise" class="control-label"></label>
    <select asp-for="@Model.ExerciseSet.ExerciseId" class="form-control" asp-items="Model.Exercises"></select>
    <span asp-validation-for="@Model.ExerciseSet.ExerciseId" class="text-danger"></span>
</div>