@model WebApplication.Areas.Admin.ViewModels.ExerciseSetCreateEditViewModel

<partial name="_CreateEditPartial"/>
<div class="form-group">
    <label asp-for="@Model.ExerciseSet.NrOfReps" class="control-label"></label>
    <input asp-for="@Model.ExerciseSet.NrOfReps" class="form-control">
    <span asp-validation-for="@Model.ExerciseSet.NrOfReps" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="@Model.ExerciseSet.WeightPercentageOfOneRepMax" class="control-label"></label>
    <input asp-for="@Model.ExerciseSet.WeightPercentageOfOneRepMax" class="form-control">
    <span asp-validation-for="@Model.ExerciseSet.WeightPercentageOfOneRepMax" class="text-danger"></span>
</div>

<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div>